# Data Science Tools and Ecosystem

## Author
Ziyu Jiang

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:* 
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List popular tools in Data Scientists' toolkits
* Show basic arthmatic operations in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
   etc.

| Data Science Tools |
| :----------------: |
| Anaconda |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
# This a simple arithmetic expression to mutiply then add integers.
( 3 * 4 ) + 5

17

In [33]:
# This will convert 200 minutes to hours by diving by 60ã€‚
min = 200
hour = min / 60
print(min ,"minutes is equal to", hour ,"hours.")

200 minutes is equal to 3.3333333333333335 hours.